body {
    background-color: #fdfdfd;
    height: 100%;
}

/* Expand nav bar on click */
#navSearch:focus {
    width: 400px;
}

/* Text for movie card */
.text-centre-card {
    position: absolute;
    bottom: 0;
    
    vertical-align: bottom;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: small;
    color: white;

    
    background: 
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    );
      
}

/* Result/Movie styling */
.ml-item {
    width: 8.8%;
    margin: 0.6%;
    float: left;
    
    position: relative;
    text-align: center;
    color: white;
    box-sizing: border-box;
    
    border: 1px solid salmon;
}

.ml-item img {
    width: 100%;
    height: auto;
    display: block;
    border: 0;

}

.card-container {

    justify-content: flex-start;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.card-container h1 {
    flex-basis: 100%;
    color: palevioletred;
}


/* Info page styling and placement */
.mv-info {
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 10px 10px;
    position: absolute;
    min-height: 40%;
    opacity: 100%;
    font-size: large;

    background: linear-gradient(
      to bottom,
      rgba(219, 23, 160, 0),
      rgba(246, 100, 140, 0.6)
    );
}

.mv-info .mvi-left {
    width: 48%;
    margin-right: 2%;
    float: left;
}

.mv-info .mvi-right {
    width: 50%;
    float: left;
}

/* cover image on info page */
.info-cover {
    
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 70%;
    /* top: 20px; */
    left: 0;
    background-position: center;
    background-position: 50%;

}

/* Carousel */
#popCarousel {
    width: 100%;
    max-height: 350px;
    /* box-sizing: border-box; */
}

.carousel-item {
    min-width: 100%;
    max-height: 350px;
   
    background-position: center;
}

/* Width and margins for advanced search */
.adv-search {
    width: 98.8%;
    margin-left: 0.6%;
    margin-right: 0.6%;
    margin-top: 20px;
}



.space-size {
    margin-left: 0.45%;
}


/* Not supported in many cases */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.statistics-container {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.stat-image {
    width: 30%;
}

.subscribe-container {
    
    height: 100%;
    margin-top: 10%;
}

.subscribe-form {
    padding: 20px;
    border-radius: 15px;
    width: 40%;
}

.subscribe-form #btnSubmit {
    margin-left: auto;
}

.subscribe-form #unsub {
    color: black;
}

.user-details {
    width: 50%;
}

#login .container {
    margin-top: 10%;
    width: 40%;
    height: auto;

    padding: 20px;

    margin-left: auto;
    margin-right: auto;

    border: 1px solid #9C9C9C;
  }

.subTable {
    width: 80%;

    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

#subTable {
    width: 100%;
}

.btn-logout {

    display: inline-block;
}

/* Scaling on different screens */

@media(max-width: 1365px) {.ml-item {width: 11.3%;}}

@media screen and (min-width: 992px) and (max-width:1100px){.ml-item{ width: 15.46%;}
    .subTable {width: 97%;}
    .subscribe-form {width: 70%;}
}

@media screen and (max-width:991px){

    .ml-item{width: 23.8%;}
    .stat-image {width: 45%;}
    .subscribe-form {width: 80%;}
    .subTable {width: 97%;}

    #login .container {
    width: 70%
  }

}

/* For hiding carousel text on much smaller devices, and adjusting search */
@media(max-width: 670px) {
 
.carousel {
    overflow: hidden;
}
.carousel-caption p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    #navSearch {
        margin-top: 10px;
    }

    #navSearch:focus {
        width: 100%;
    }

    .mv-info {
        font-size: medium;
    }

}

@media screen and (max-width:480px){
    
    .ml-item{width: 47%; margin: 1.5%;} 
    .stat-image { width: 90%;} 
    .info-cover{background-size: cover;}
    .subscribe-form {width: 90%;}
}

@media screen and (max-width:420px){
    .subscribe-form #btnSubmit {
    margin-top: 3%;

    width: 100%;
}

    .user-details {
        width: 100%;
    }
}

@media screen and (max-width:371px){
    .space-size {
    margin-left: 1%;
    margin-top: 1%;
}
}

